
:root {
  --main-bg-color: white;
  --main-font-color: rgb(31, 31, 31);
}

html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'NewYork';
  src: local('NewYork'), url(./assets/fonts/NewYork.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  margin: 0;
  font-family: 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
