.box {
    border-left: 0.2px solid black;
    margin: 5%;
}


.about-us-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;

}

.lorem-ipsum {
    padding: 10%;
    font-weight: 200;
    font-size: 1.5rem;
    text-align: end;
}

.box-images {
    position: relative;
}
.img1, .img2 {
    position: absolute;
    z-index: 1;
}
.img1{
    right: 0;
    top: 0;
}
.img2{
    left: 0;
    bottom: 0;
}



.circle {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 50%;
    z-index: 0;
}



/* Responsive: stack items vertically */
@media (max-width: 1200px) {
    .about-us-section {
        display: block;
        padding: .5rem;
    }

    .lorem-ipsum {
        padding: 0px;
        font-weight: 200;
        font-size: 1rem;
        text-align: center;
    }
    .circle {
        position: absolute;
        width: 400px;
        height: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid black;
        border-radius: 50%;
        z-index: 0;
    }
    
    .img1, .img2 {
        position: relative; /* para que se apilen automáticamente */
        width: 40%;
        max-width: 300px;
        height: auto;
        display: block;
        margin: 1rem auto;
        z-index: 1;
      }
    
}

@media (max-width: 722px) {
    .about-us-section {
        display: block;
        padding: 1rem;
    }

    .lorem-ipsum {
        padding: 0px;
        font-weight: 200;
        font-size: 1.5rem;
        text-align: center;
    }
    .circle {
        position: absolute;
        width: 200px;
        height: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid black;
        border-radius: 50%;
        z-index: 0;
    }
}